div.show{
    display: flex;
    gap: 25px;
    padding: 20px;
    max-width: 1300px;
    margin-inline: auto;
    @media screen and (max-width: 600px){
        padding: 0px;
    }
    @media screen and (max-width: 1000px){
        flex-direction: column;
        gap: 20px;
    }
    .left{
        img{
            width: 500px;
            max-height: 500px;
            object-fit: cover;
            @media screen and (max-width: 600px){
                width: 100%;
            }
            // border-radius: 10px;
            // -webkit-border-radius: 10px;
            // -moz-border-radius: 10px;
            // -ms-border-radius: 10px;
            // -o-border-radius: 10px;
        }
        div.no-image{
            width: 500px;
            height: 400px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-size: 130px;
            background-color: #4131261c;
            border: 1px solid var(--dominant-white);
            color: var(--dominant-white);
            margin-bottom: 20px;
            @media screen and (max-width: 600px){
                width: 100%;
            }
        }
        .meta{
            margin-top: 20px;
            .author{
                color: var(--dominant-black);
                font-size: 19px;
                a{
                    color: var(--dominant-black);
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
            p.time{
                margin-top: 10px;
                color: rgba(83, 54, 54, 0.544);
                font-size: 15px;
                font-weight: 500;
            }
        }

        .actions{
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            a{
                display: inline-block;
                padding: 10px 15px;
                background-color: #4131261c;
                border: 1px solid var(--dominant-white);
                color: var(--dominant-white);
                color: var(--dominant-white);
                border-radius:15px;
                -webkit-border-radius:15px;
                -moz-border-radius:15px;
                -ms-border-radius:15px;
                -o-border-radius:15px;
                font-size: 15px;
                font-weight: 500;
                @media screen and (max-width: 600px) {
                    padding: 8px 10px;
                    font-size: 14px;
                }
            }

            button{
                display: inline-block;
                padding: 10px 15px;
                background-color: var(--dominant-white);
                color: var(--complementary-1);
                // color: var(--dominant-white);
                border-radius:15px;
                -webkit-border-radius:15px;
                -moz-border-radius:15px;
                -ms-border-radius:15px;
                -o-border-radius:15px;
                font-size: 15px;
                font-weight: 500;
                border: none;
                cursor: pointer;

                @media screen and (max-width: 600px) {
                    padding: 8px 10px;
                    font-size: 14px;
                }
            }
        }

    }
    .right{
        flex: 1;
        h2{
            font-size: 40px;
            margin-bottom: 25px;
            color: var(--dominant-white);
            @media screen and (max-width: 600px){
                font-size: 35px;
            }
        }
        p.body{
            font-size: 22px;
            line-height: 1.5;
            color: var(--dominant-black);
            @media screen and (max-width: 600px){
                font-size: 19px;
            }
        }
    }
}
div.likable{
    padding-block: 20px;
    max-width: 1300px;
    margin-inline: auto;
    margin-top: 50px;
    display: flex;
    gap: 25px;
    align-items: center;
    form button > span{
        font-size: 24px;
        color: var(--dominant-white);
        padding: 10px;
        cursor: pointer;
        & > span{
            font-size: 18px;
            margin-right: 2px;
        }
        &.active{
            i{
                font-weight: bold;
            }
        }
    }
    .comments_count{
        font-size: 24px;
        color: var(--dominant-white);
        padding: 10px;
        & > span{
            font-size: 18px;
            margin-right: 2px;
        }
    }
}
div.commentable{
    padding: 20px;
    max-width: 1300px;
    margin-inline: auto;
    margin-top: 25px;
    div.comment{
        padding: 15px 20px;
        background-color: #4131261c;
        border: 1px solid var(--dominant-white);
        color: var(--dominant-black);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-bottom: 15px;
        max-width: 900px;
    }
    div.head{
        display: flex;
        align-items: center;
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            object-fit: cover;
        }
        i.fa-user{
            margin-right: 10px;
            font-size: 25px;
            color: var(--dominant-white);
            border: 1px solid var(--dominant-white);
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            padding: 8px 12px;
        }
        div.meta{
            display: flex;
            flex-direction: column;
            margin-right: 15px;
            span:first-child{
                color: var(--dominant-white);
                font-size: 18px;
            }
            span:last-child{
                color: rgb(168, 169, 169);
                margin-top: 15px;
            }
        }
    }
    p.body{
        color: var(--dominant-black);
        margin-top: 15px;
    }
}

.tags{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    &.filter{
        max-width: 950px;
        margin-inline: auto;
    }
    a{
        display: inline-block;
        padding: 8px 10px;
        background-color: #4131261c;
        border: 1px solid var(--dominant-white);
        color: var(--dominant-white);
        border-radius:15px;
        -webkit-border-radius:15px;
        -moz-border-radius:15px;
        -ms-border-radius:15px;
        -o-border-radius:15px;
        font-size: 15px;
        font-weight: 500;
        &.active{
            background-color: var(--dominant-white);
            color: var(--complementary-1);
        }
    }
}

.attachments{
    margin-block: 30px;
    width: 100%;
    .title{
        font-size: 25px;
        color: rgba(54, 27, 22, 0.689);
        font-weight: 500;
        margin-bottom: 20px;
    }
    li{
        margin-bottom: 10px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(194, 196, 196, 0.29);
        button{
            background: none;
        }
        a, button{
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--dominant-white);
            font-size: 15px;
            font-weight: 500;
            cursor: pointer;
            i{
                font-size: 20px;
                color: var(--dominant-white);
                cursor: pointer;
            }
        }
    }
}
