div.form{
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    .container{
        display: flex;
        flex-direction: column;
        width: 450px;
        @media screen and (max-width: 500px) {
            width: 98%;
        }
        div.form-group{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            flex-grow: 0;
            flex-basis: 0;
            label{
                font-size: 18px;
                font-weight: 500;
                color: var(--dominant-white);
                margin-bottom: 10px;
                display: block;
            }


            .error{
                color: rgb(255, 98, 6);
                font-size: 13px;
                font-weight: 400;
                margin-top: 10px;
            }
        }
        button , .special_button{
            width: 100%;
            @media screen and (max-width: 500px) {
                width: 100%
            }
            padding-block: 12px;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            font-size: 17px;
            font-weight: 500;
            background-color: #4131261c;
            border: 1px solid var(--dominant-white);
            color: var(--dominant-white);
            cursor: pointer;
        }
        .special_button{
            background-color: var(--dominant-white);
            color: var(--complementary-2);
            text-align: center;
            font-weight: 500;
            margin-top: 15px;
        }
    }
}
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    25%, 75% { opacity: 1; }
}
p.popup{
    position: fixed;
    bottom: 50px;
    left: 50px;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000038;
    -webkit-box-shadow: 0px 0px 10px 0px #00000038;
    -moz-box-shadow: 0px 0px 10px 0px #00000038;
    -ms-box-shadow: 0px 0px 10px 0px #00000038;
    -o-box-shadow: 0px 0px 10px 0px #00000038;
    animation: fadeInOut 3s ease-in-out forwards;
    -webkit-animation: fadeInOut 3s ease-in-out forwards;
    z-index: 9999;
    i{
        margin-inline: 5px;
    }
    &.hide{
        display: none;
    }
    &.error{
        background-color: red;
        color: var(--dominant-white);
    }
    &.success{
        background-color: #4131261c;
        border: 1px solid var(--dominant-white);
        color: var(--dominant-white);
    }
    &.warning{
        background-color: var(--complementary-2);
        color: var(--dominant-white);
    }
    &.info{
        background-color: var(--complementary-2);
        color: var(--dominant-white);
    }
    &.question{
        background-color: var(--complementary-2);
        color: var(--dominant-white);
    }

}

body.ar{
    div.form .container div.form-group.required label::after{
        content: '- إجباري';
        left: 0;
        right: unset;
    }
    div.form .container div.form-group.optional label::after{
        content: '- اختياري';
        left: 0;
        right: unset;
    }
}
.forget_password{
    margin-bottom: 15px;
    color: var(--dominant-white);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
